.chart div {
  display: block;
  font: 10px sans-serif;
  background-color: steelblue;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}

.chart span {
  display: block;
  font: 10px sans-serif;
  background-color: yellowgreen;
  text-align: right;
  padding: 3px;
  margin: 1px;
  color: white;
}
